.shopping{
    .page-title{
        border:0;
        text-align:center;
    }
    li{
        list-style-type: none;
    }

    .customproduit{
        border:1px solid lighten(#CCC, 10%);
        padding-top:20px;

        .customadding{
            @extend .button;
            //width:100%;
            margin-left:-1000px;
            background:white !important;
            color:black !important;
            border-radius:0px !important;
            border:2px solid black !important;
            text-transform:uppercase;
            letter-spacing: 1px;
            transition:0.5s;
            opacity:0;

            &:hover{
                background:black !important;
                color:white !important;
            }
        }
    }
}

.brandz{
    text-align:left;
    //border-top:1px solid #666;
    text-transform: uppercase;
    padding-top:5px;
    display:none;
    font-weight: bold;
    letter-spacing: 2px;
    //border-bottom:1px solid #666;

    a{
        color:#666;
        font-size:20px;
    }
}

.filariane{
    display:none;
    width:100%;
    background:red;
    background:url(../../images/watchproduit.jpg);
    background-size:cover;
    color:white;
    background-attachment:fixed;
    text-transform: uppercase;
    position:relative;
    z-index:10;
    text-align:center;

    .fade{
        padding-top:40px;
        padding-bottom:40px;
        background:rgba(0,0,0,0.8);
        letter-spacing: 2px;
        font-weight:bold;
    }

    a{
        color:white;
    }
}

.inboutique{
    display:none;
    background:url(../../images/walpp.jpg) fixed;
    background-size:cover;
    margin-bottom:50px;
    position:relative;

    .page-title{
        text-transform:uppercase;
        font-family:"Montserrat";
        font-weight:normal;
        //margin-bottom:50px;
    }

    hr{
        //display:none;
        background:#666;
        margin-bottom:50px;
        max-width:600px;
    }

    .fade{
        background:rgba(0,0,0,0.8);
        width:100%;
        height:100%;
        color:#FFF;
        text-align: center;
        padding:50px 15px 50px 15px;

        a{
            color:white;
        }

        .inlinefiltres{
            display:inline-block;
            width:400px;
            position:relative;

            select{
                border:0;
                box-shadow:0px 0px 0px;

                &:focus{
                    border:0;
                    box-shadow: 0px 0px 0px;
                }

                &:active{
                    border:0;
                    box-shadow:0px 0px 0px;
                }

                &:focus{
                    outline: none;
                }
            }
        }
    }
}

// Pafe produit

.custom-title-produit{
    max-width:1200px;
    margin-bottom:0 !important;
    border:0 !important;
    text-align:left;
}

.custom-li{
    // background:#d7eefa !important;
    border-radius:0 !important;
    border:0px !important;

    &:after{
        display:none;
    }

    &:before{
        display:none;
    }
}

.custom-h2{
    text-transform: uppercase;
    position:relative;
    z-index:10;
    border-bottom:12px inset #d7eefa;
    padding-left:5px;
    padding-right:5px;
    height:40px;
    margin-bottom:20px;
    font-size:31px;
}

.tabs{
    border:0;


    &:before{
        display:none;
    }
}

.wc-tabs{

    &:before{
        display:none !important;
    }
}

.produitsrelatifs{
    padding-top:50px;
    display:none;
    text-align:center;

    .produitsrelatifsin{
        max-width:1200px;
        margin:auto;
    }

    img{
        transition:0.5s;
    }

    .buttonrelatifs{
        @extend .button;
        //width:100%;
        background:white !important;
        color:black !important;
        border-radius:0px !important;
        border:2px solid black !important;
        text-transform:uppercase;
        letter-spacing: 1px;
        transition:0.5s;
        opacity:0;

        &:hover{
            background:black !important;
            color:white !important;
        }
    }
}

.hoveringadd{
    border-radius:0px !important;
    height:39px !important;
    background:black !important;
    text-transform:uppercase;
    font-family:"Montserrat" !important;
    font-weight:normal !important;
    letter-spacing:1px;

    &:hover{
        background:$gold !important;
        color:black !important;
    }
}

.divone{

}

.divtwo{
    display:none;
    text-align:center;
    background:#FAFAFA;
    padding-top:50px;
    padding-bottom:50px;

    .photosplus{
        margin-bottom:40px;

        img{
            margin:10px;
        }
    }

    .divtwoin{
        max-width:1200px;
        margin:auto;
    }
}

.divthree{
    position:relative;
    display:none;
    text-align:center;
    //margin-top:-100px;

    .avatar{
        display: none;
    }

    .comment-text{
        //border:1px solid #000 !important;
        //background:#fafafa;
        text-align:left;
        border-radius:0px !important;
        max-width:600px;
        margin:auto !important;
    }

    #author{
        border:1px solid black;
        box-shadow:0px 0px 0px;
        max-width:600px;
        margin:auto;
    }

    #email{
        border:1px solid black;
        box-shadow:0px 0px 0px;
        max-width:600px;
        margin:auto;
    }

    .bandstyle{
        display:none;
        width:100%;
        height:100%;
        background:url(../../images/parallax.jpg);
        background-size:cover;
        background-attachment:fixed;
        position:absolute;
        background-position:center;
        top:100px;
        z-index:2;
    }

    .divthreefade{
        position:relative;
        padding-top:50px;
        padding-bottom:50px;
        padding-left:20px;
        padding-right:20px;
        max-width:1200px;
        margin:auto;
        height:100%;
        z-index:3;
        //border:1px solid #e7e7e7;
        //box-shadow:1px 1px 10px rgba(100,100,100,0.1);

        span{
            //color:white;

            a{
                &:before{
                    //color:white;
                }
            }
        }

        label{
            //color:white;
        }
    }
}

.yaprobleme{
    display:none;
    background-position:bottom;
    background-repeat:no-repeat;
    background:url(../../images/header.jpg);
    background-size:cover;
    color:white;
    background-attachment:fixed;

    .in{
        background:rgba(0,0,0,0.5);
        width:100%;
        padding-top:100px;
        padding-bottom:100px;
        height:100%;
        text-align:center;

        .inzeed{
            margin:auto;
        }
    }
}


/*












 CUSTOM








 */

.insane{
    position:relative;
    z-index:40;
    background:white;

    .breadfond{
        width:100%;
        background:url(../../images/watchproduit.jpg) fixed center;
        background-size:cover;
        /*background:lighten(black,20%);*/

        .fade{
            background:rgba(0,0,0,0.7);
            width:100%;
            text-align:center;
            color:white;
            padding-top:30px;
            padding-bottom:30px;
            font-family: "Montserrat";
        }
    }

    .headproduit{
        background:url(../../images/walpp.jpg) no-repeat center;
        background-size:cover;
        height:400px;
        width:100%;
        display:none;

        .fade{
            display:flex;
            width:100%;
            height:100%;
            background:rgba(0,0,0,0.5);

            h2{
                margin:auto;
                color:white;
                text-transform:uppercase;
            }
        }
    }

    .incontent{
        width:100%;
        display:flex;
        padding-top:50px;
        position:relative;

        .radial{
            opacity:0.3;
            background: -webkit-radial-gradient(rgba(255,255,255,0), $gold);
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
        }

        .left{
            width:50%;
            text-align: center;
        }

        .right{
            width:50%;
            position:relative;
            z-index:20;
        }

        .prod{
            position:absolute;
            top:0;
            left:0;
            width:100%;
            text-align: center;
            padding-top:50px;

            .sepz{
                background:$gold;
                height:4px;
                width:200px;
                margin:auto;
            }

            .marque{
                text-transform: uppercase;
                color:#666;
                display:flex;
                text-align:center;

                h5{
                    padding-bottom:1px;
                    border-bottom:5px solid $gold;
                    margin:auto;
                    letter-spacing: 2px;
                }

            }

            .titprod{
                text-transform: uppercase;
                color:#1a1a1a;
                opacity:0.8;
            }
        }
    }
}
