.shopping{
    .page-title{
        border:0;
        text-align:center;
    }
    li{
        list-style-type: none;
    }

    .customproduit{
        border:1px solid lighten(#CCC, 10%);
        padding-top:20px;

        .customadding{
            @extend .button;
            //width:100%;
            margin-left:-1000px;
            background:white !important;
            color:black !important;
            border-radius:0px !important;
            border:2px solid black !important;
            text-transform:uppercase;
            letter-spacing: 1px;
            transition:0.5s;
            opacity:0;

            &:hover{
                background:black !important;
                color:white !important;
            }
        }
    }
}

.brandz{
    text-align:left;
    //border-top:1px solid #666;
    text-transform: uppercase;
    padding-top:5px;
    display:none;
    font-weight: bold;
    letter-spacing: 2px;
    //border-bottom:1px solid #666;

    a{
        color:#666;
        font-size:20px;
    }
}

.filariane{
    display:none;
    width:100%;
    background:red;
    background:url(../../images/watchproduit.jpg);
    background-size:cover;
    color:white;
    background-attachment:fixed;
    text-transform: uppercase;
    position:relative;
    z-index:10;
    text-align:center;

    .fade{
        padding-top:40px;
        padding-bottom:40px;
        background:rgba(0,0,0,0.8);
        letter-spacing: 2px;
        font-weight:bold;
    }

    a{
        color:white;
    }
}

.inboutique{
    display:none;
    background:url(../../images/walpp.jpg) fixed;
    background-size:cover;
    margin-bottom:50px;
    position:relative;

    .page-title{
        text-transform:uppercase;
        font-family:"Montserrat";
        font-weight:normal;
        //margin-bottom:50px;
    }

    hr{
        //display:none;
        background:#666;
        margin-bottom:50px;
        max-width:600px;
    }

    .fade{
        background:rgba(0,0,0,0.8);
        width:100%;
        height:100%;
        color:#FFF;
        text-align: center;
        padding:50px 15px 50px 15px;

        a{
            color:white;
        }

        .inlinefiltres{
            display:inline-block;
            width:400px;
            position:relative;

            select{
                border:0;
                box-shadow:0px 0px 0px;

                &:focus{
                    border:0;
                    box-shadow: 0px 0px 0px;
                }

                &:active{
                    border:0;
                    box-shadow:0px 0px 0px;
                }

                &:focus{
                    outline: none;
                }
            }
        }
    }
}

// Pafe produit

.custom-title-produit{
    max-width:1200px;
    margin-bottom:0 !important;
    border:0 !important;
    text-align:left;
}

.custom-li{
    // background:#d7eefa !important;
    border-radius:0 !important;
    border:0px !important;

    &:after{
        display:none;
    }

    &:before{
        display:none;
    }
}

.custom-h2{
    text-transform: uppercase;
    position:relative;
    z-index:10;
    border-bottom:12px inset #d7eefa;
    padding-left:5px;
    padding-right:5px;
    height:40px;
    margin-bottom:20px;
    font-size:31px;
}

.tabs{
    border:0;


    &:before{
        display:none;
    }
}

.wc-tabs{

    &:before{
        display:none !important;
    }
}

.produitsrelatifs{
    padding-top:50px;
    display:none;
    text-align:center;

    .produitsrelatifsin{
        max-width:1200px;
        margin:auto;
    }

    img{
        transition:0.5s;
    }

    .buttonrelatifs{
        @extend .button;
        //width:100%;
        background:white !important;
        color:black !important;
        border-radius:0px !important;
        border:2px solid black !important;
        text-transform:uppercase;
        letter-spacing: 1px;
        transition:0.5s;
        opacity:0;

        &:hover{
            background:black !important;
            color:white !important;
        }
    }
}

.hoveringadd{
    border-radius:0px !important;
    height:39px !important;
    background:black !important;
    text-transform:uppercase;
    font-family:"Montserrat" !important;
    font-weight:normal !important;
    letter-spacing:1px;

    &:hover{
        background:$gold !important;
        color:black !important;
    }
}

.divone{

}

.divtwo{
    display:none;
    text-align:center;
    background:#FAFAFA;
    padding-top:50px;
    padding-bottom:50px;

    .photosplus{
        margin-bottom:40px;

        img{
            margin:10px;
        }
    }

    .divtwoin{
        max-width:1200px;
        margin:auto;
    }
}

.divthree{
    position:relative;
    display:none;
    text-align:center;
    //margin-top:-100px;

    .avatar{
        display: none;
    }

    .comment-text{
        //border:1px solid #000 !important;
        //background:#fafafa;
        text-align:left;
        border-radius:0px !important;
        max-width:600px;
        margin:auto !important;
    }

    #author{
        border:1px solid black;
        box-shadow:0px 0px 0px;
        max-width:600px;
        margin:auto;
    }

    #email{
        border:1px solid black;
        box-shadow:0px 0px 0px;
        max-width:600px;
        margin:auto;
    }

    .bandstyle{
        display:none;
        width:100%;
        height:100%;
        background:url(../../images/parallax.jpg);
        background-size:cover;
        background-attachment:fixed;
        position:absolute;
        background-position:center;
        top:100px;
        z-index:2;
    }

    .divthreefade{
        position:relative;
        padding-top:50px;
        padding-bottom:50px;
        padding-left:20px;
        padding-right:20px;
        max-width:1200px;
        margin:auto;
        height:100%;
        z-index:3;
        //border:1px solid #e7e7e7;
        //box-shadow:1px 1px 10px rgba(100,100,100,0.1);

        span{
            //color:white;

            a{
                &:before{
                    //color:white;
                }
            }
        }

        label{
            //color:white;
        }
    }
}

.yaprobleme{
    display:none;
    background-position:bottom;
    background-repeat:no-repeat;
    background:url(../../images/header.jpg);
    background-size:cover;
    color:white;
    background-attachment:fixed;

    .in{
        background:rgba(0,0,0,0.5);
        width:100%;
        padding-top:100px;
        padding-bottom:100px;
        height:100%;
        text-align:center;

        .inzeed{
            margin:auto;
        }
    }
}


/*












 CUSTOM








 */

 .fullwidth{
     width:100%;
     max-width: initial;
 }

.insane{
    position:relative;
    z-index:40;
    background:white;

    .breadfond{
        width:100%;
        background:url(../../images/walpp.jpg) fixed center;
        background-size:cover;

        .fade{
            background:rgba(0,0,0,0.7);
            width:100%;
            text-align:center;
            color:white;
            padding-top:100px;
            padding-bottom:100px;
            font-family: "Montserrat";

            .themarque{
                text-transform:uppercase;
                display:flex;
                margin-bottom:20px;

                h5{
                    margin:auto;
                    font-family:"Oswald";
                    padding-bottom:2px;
                    border-bottom:4px solid $gold;
                }
            }

            .thetitre{
                h1{
                    margin:0px;
                    letter-spacing: 3px;
                }
            }

            a{
                color:white;
            }
        }
    }

    .headproduit{
        background:url(../../images/walpp.jpg) no-repeat center;
        background-size:cover;
        height:400px;
        width:100%;
        display:none;

        .fade{
            display:flex;
            width:100%;
            height:100%;
            background:rgba(0,0,0,0.5);

            h2{
                margin:auto;
                color:white;
                text-transform:uppercase;
            }
        }
    }

    .incontent{
        width:100%;
        display:flex;
        padding-top:50px;
        position:relative;

        .radial{
            opacity:0.3;
            background: -webkit-radial-gradient(rgba(255,255,255,0), $gold);
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
        }

        .leftz{
            width:50%;
            text-align: center;
        }

        .rightz{
            width:50%;
            position:absolute;
            z-index:20;
            right:0;
            bottom:0;
            top:0px;
            margin:auto;
            display:flex;

            .inno{
                width:80%;
                margin:auto 0px;

                .soci{
                    margin-top:20px;

                    ul{
                        margin:0;

                        li{
                            display: inline-block;
                            margin-left:10px;
                            margin-right:10px;

                            a{
                                transition: 1s;
                                display: block;

                                &:hover{
                                    transform:rotate(360deg);
                                    color:$gold;
                                }
                            }
                        }
                    }
                }

                h4{
                    margin:auto;
                    color:$gold;
                    text-transform: uppercase;
                }

                .describeme{
                    font-family:"Ubuntu Condensed";
                    opacity:0.8;
                }

                .prices{
                    font-family: "Montserrat";
                    margin-top:10px;
                }

                .addd{
                    margin-top:20px;

                    input{
                        height:42px;
                        margin-right:20px;
                    }

                    .cart{
                        display:flex;

                        .single_add_to_cart_button{
                        }
                    }
                }
            }
        }

        .prod{
            position:absolute;
            top:0;
            left:0;
            width:100%;
            text-align: center;
            padding-top:50px;
            display:none;

            .marque{
                text-transform: uppercase;
                color:#666;
                display:flex;
                text-align:center;

                h5{
                    padding-bottom:1px;
                    border-bottom:5px solid $gold;
                    margin:auto;
                    letter-spacing: 2px;
                    font-family:"Oswald";

                    a{
                        color:#666;
                    }
                }

            }

            .titprod{
                text-transform: uppercase;
                color:#1a1a1a;
                opacity:0.8;
            }
        }
    }

    .photoz{
        overflow:hidden;

        .inphoto{
            width:100%;
            height:200px;
            background-size:cover;
            background-position:center;
        }

        .testp{
            height:200px;
            background-size:cover;
            background-position:center;
            display:block;
            transition:0.5s;
            text-indent:-200000px;
        }
    }

    .moreinfos{
        background:#fafafa;
        width:100%;
        text-align:center;
        padding-top:50px;
        padding-bottom:50px;

        .jassure{
            margin-left:auto;
            margin-right:auto;
            margin-bottom:100px;
            font-family:"Oswald";
            text-transform: uppercase;
            max-width:1200px;

            .butz{
                display:flex;

                .icon{

                }

                .zea{

                }
            }
        }

        .in{
            max-width:1200px;
            margin:auto;

            .quoi{
                margin-top:0px;margin-bottom:20px;
                font-family: 'Ubuntu Condensed';
            }

            .titrz{
                display:flex;

                h4{
                    margin:auto;
                    text-transform: uppercase;
                    color:#a09090;
                    //font-family:"Ubuntu Condensed";
                    //border-bottom:3px solid #a09090;
                    font-size:32px;
                }
            }

            table{

                tbody{
                    background-color:transparent;
                }
            }
        }
    }

    .photofull{
        width:100%;
        background:url(../../images/home.jpg) fixed;
        background-size:cover;

        .fade{
            background:rgba(0,0,0,0.8);
            width:100%;
            height:100%;
            padding-top:70px;
            padding-bottom:70px;
            text-align: center;

            h3{
                color:white;
                text-transform: uppercase;
            }

            .eip{
                color:white;
                opacity:0.6;
            }
        }
    }

    .clientsavis{
        width:100%;
        padding-top:50px;
        padding-bottom:50px;
        background:#edeaea;
        text-align: center;

        .in{
            margin:auto;
            max-width:600px;

            .comment-text{
                margin:0 !important;
                border:1px solid #CCC !important;
                border-radius:0 !important;

                .meta{
                    text-transform: uppercase;
                    font-family: 'Montserrat';
                    margin-bottom:0px !important;
                }

                .description{
                    font-family: 'Ubuntu Condensed';
                }
            }

            #comment{
                //border:1px solid lighten(#CCC, 10%);
                border:0;
                background:lighten(#CCC, 17%);
            }

            label{
                display:none;
            }

            .comment-form-rating{
                margin-top:10px !important;
                margin-bottom:0px !important;

                .stars{
                    margin-bottom:0px !important;
                }
            }

            h2{
                font-size:16px;
                text-transform: uppercase;
            }

            h3{
                font-size:18px;
                text-transform: uppercase;
                margin-top:50px !important;
            }

            h4{
                text-transform: uppercase;
                color:#a09090;
                font-size: 32px;
            }
        }
    }
}

.produitsautre{
    .in{
        padding-top:50px;
        max-width:1200px;
        margin:auto;
    }
}
