.shopping{
    .page-title{
        border:0;
        text-align:center;
    }
    li{
        list-style-type: none;
    }
}

.brandz{
    text-align:left;
    border-top:1px solid #CCC;
    text-transform: uppercase;
    padding-top:5px;
    padding-bottom:10px;
    font-weight: bold;
    letter-spacing: 2px;

    a{
        color:#CCC;
        font-size:20px;
    }
}

.filariane{
    display:none;
    width:100%;
    background:red;
    background:url(../../images/watchproduit.jpg);
    background-size:cover;
    color:white;
    background-attachment:fixed;
    text-transform: uppercase;
    position:relative;
    z-index:10;
    text-align:center;

    .fade{
        padding-top:40px;
        padding-bottom:40px;
        background:rgba(0,0,0,0.8);
        letter-spacing: 2px;
        font-weight:bold;
    }

    a{
        color:white;
    }
}

.inboutique{
    display:none;
    background:url(../../images/walpp.jpg);
    background-size:cover;
    margin-bottom:50px;

    .fade{
        background:rgba(0,0,0,0.8);
        width:100%;
        height:100%;
        color:#FFF;
        text-align: center;
        padding:50px 15px 50px 15px;

        a{
            color:white;
        }

        .inlinefiltres{
            display:inline-block;
            width:400px;

            select{
                border:0;
                box-shadow:0px 0px 0px;

                &:focus{
                    border:0;
                    box-shadow: 0px 0px 0px;
                }

                &:active{
                    border:0;
                    box-shadow:0px 0px 0px;
                }

                &:focus{
                    outline: none;
                }
            }
        }
    }
}

// Pafe produit

.custom-title-produit{
    max-width:1200px;
    margin:auto;
    border:0 !important;
    text-align:left;
}

.custom-li{
    // background:#d7eefa !important;
    border-radius:0 !important;
    border:0px !important;

    &:after{
        display:none;
    }

    &:before{
        display:none;
    }
}

.custom-h2{
    text-transform: uppercase;
    position:relative;
    z-index:10;
    border-bottom:12px inset #d7eefa;
    padding-left:5px;
    padding-right:5px;
    height:40px;
    font-family:"Oswald";
    margin-bottom:20px;
    font-size:31px;
}

.tabs{
    border:0;


    &:before{
        display:none;
    }
}

.wc-tabs{

    &:before{
        display:none !important;
    }
}

.produitsrelatifs{
    padding-top:50px;
    display:none;
    text-align:center;

    .produitsrelatifsin{
        max-width:1200px;
        margin:auto;
    }

    img{
        transition:0.5s;
    }

    .buttonrelatifs{
        width:100%;
        background:white !important;
        color:black !important;
        border-radius:0px !important;
        border:2px solid black !important;
        text-transform:uppercase;
        padding-top:15px !important;
        padding-bottom:15px !important;
        letter-spacing: 1px;

        &:hover{
            background:black !important;
            color:white !important;
        }
    }
}

.divone{

}

.divtwo{
    display:none;
    text-align:center;
    background:#FAFAFA;
    padding-top:50px;
    padding-bottom:50px;

    .photosplus{
        margin-bottom:40px;

        img{
            margin:10px;
        }
    }

    .divtwoin{
        max-width:1200px;
        margin:auto;
    }
}

.divthree{
    position:relative;
    display:none;
    text-align:center;
    //margin-top:-100px;

    .avatar{
        display: none;
    }

    .comment-text{
        //border:1px solid #000 !important;
        //background:#fafafa;
        text-align:left;
        border-radius:0px !important;
        max-width:600px;
        margin:auto !important;
    }

    #author{
        border:1px solid black;
        box-shadow:0px 0px 0px;
        max-width:600px;
        margin:auto;
    }

    #email{
        border:1px solid black;
        box-shadow:0px 0px 0px;
        max-width:600px;
        margin:auto;
    }

    .bandstyle{
        display:none;
        width:100%;
        height:100%;
        background:url(../../images/parallax.jpg);
        background-size:cover;
        background-attachment:fixed;
        position:absolute;
        background-position:center;
        top:100px;
        z-index:2;
    }

    .divthreefade{
        position:relative;
        padding-top:50px;
        padding-bottom:50px;
        padding-left:20px;
        padding-right:20px;
        max-width:1200px;
        margin:auto;
        height:100%;
        z-index:3;
        //border:1px solid #e7e7e7;
        //box-shadow:1px 1px 10px rgba(100,100,100,0.1);

        span{
            //color:white;

            a{
                &:before{
                    //color:white;
                }
            }
        }

        label{
            //color:white;
        }
    }
}

.yaprobleme{
    display:none;
    background-position:bottom;
    background-repeat:no-repeat;
    background:url(../../images/header.jpg);
    background-size:cover;
    color:white;
    background-attachment:fixed;

    .in{
        background:rgba(0,0,0,0.5);
        width:100%;
        padding-top:100px;
        padding-bottom:100px;
        height:100%;
        text-align:center;

        .inzeed{
            margin:auto;
        }
    }
}
