.shopping{
    li{
        list-style-type: none;
    }
}

.inboutique{
    display:none;
    background:url(../../images/walpp.jpg);
    background-size:cover;
    margin-bottom:50px;

    .fade{
        background:rgba(0,0,0,0.8);
        width:100%;
        height:100%;
        color:#FFF;
        text-align: center;
        padding:50px 15px 50px 15px;

        a{
            color:white;
        }

        .inlinefiltres{
            display:inline-block;
            width:400px;

            select{
                border:0;
                box-shadow:0px 0px 0px;

                &:focus{
                    border:0;
                    box-shadow: 0px 0px 0px;
                }

                &:active{
                    border:0;
                    box-shadow:0px 0px 0px;
                }

                &:focus{
                    outline: none;
                }
            }
        }
    }
}

// Pafe produit

.custom-title-produit{
    max-width:1200px;
    margin:auto;
}

.custom-li{
    // background:#d7eefa !important;
    border-radius:0 !important;

    &:after{
        display:none;
    }

    &:before{
        display:none;
    }
}

.custom-h2{
    text-transform: uppercase;
}

.tabs{
    border:0;


    &:before{
        display:none;
    }
}

.wc-tabs{

    &:before{
    }
}

.additional_information_tab{
    border:1px solid black;
}
