section{
    background:#FFF;
    z-index:10;
    position:relative;
}

.jesuisletitre{
    text-align:center;
    margin-top:50px;
    position:relative;
    margin-bottom:30px;

    .thetitle{
        position:relative;

        .title{
            z-index:2;
            display:flex;
            text-align: center;
            justify-content: center;

            h3{
                font-weight: normal;
                text-transform: uppercase;
                position:relative;
                z-index:10;
                padding-left:5px;
                padding-right:5px;
            }
        }

        .description{
            position:relative;
            z-index:2;

            .citation{
                font-family: "Merriweather";
                display: block;
                margin-bottom:30px;
            }
        }
    }
}

hr{
    height:1px;
    border:0;
    background:#000;
    width:100%;
}

.last-articles{
    text-align:center;
    padding-top:50px;
    padding-bottom:50px;

    .product-link{
        display:block;
        overflow:hidden;
        border:1px solid lighten(#CCC, 10%);
        padding-top:20px;
        padding-bottom:20px;
        margin-bottom:20px;

        #left-disappear{
            opacity:0;
            margin-left:-250px;
            transition:0.5s;
            border-bottom:4px solid #d7eefa;
        }
    }

    .image-product{
        img{
            transition:0.5s;
        }
    }

    .article-subtitle{
        display:block;
        font-family: "Merriweather";
        margin-top:10px;
    }

    .article-title{
        display:block;
        font-size:24px;
        color:#828080;
        text-transform: uppercase;
        margin-bottom:10px;
    }
}

.article-in{
    position:relative;

    .fade{
        display:none;
        position:absolute;
        top:0;
        width:100%;
        height:100%;
        background:rgba(0,0,0,0.8);
        z-index:10;
    }

    #yesplease{
        position:relative;
        z-index:200;
    }

    &:hover{
    }
}

.bestseller{
    text-align:center;
    padding-top:50px;
    padding-bottom:50px;

    .product-link{
        display:block;
        overflow:hidden;
        border:1px solid lighten(#CCC, 10%);
        padding-top:20px;
        padding-bottom:20px;
        margin-bottom:20px;

        #left-disappear{
            opacity:0;
            margin-left:-250px;
            transition:0.5s;
            border-bottom:4px solid #d7eefa;
        }
    }

    .image-product{
        img{
            transition:2s;
        }
    }

    .article-subtitle{
        display:block;
        font-family: "Merriweather";
        margin-top:10px;
    }

    .article-title{
        display:block;
        font-size:24px;
        color:#828080;
        text-transform: uppercase;
        margin-bottom:10px;
    }
}

.promotions-container{
    padding-left::20px;
    padding-right:20px;
    padding-bottom:20px;
    display:none;

    .promotions{
        display:flex;

        .dismoi{
            //display: block;
            display:none;
            color:black;
            border:1px solid black;
            width:50%;
            padding:10px;
            margin:10px auto 5px auto;
        }

        .indiv{
            display:block;
            width:33.33%;
            text-align:center;
            padding:10px;
            text-transform: uppercase;
            font-size:14px;
            color:black;
            transition: 0.5s;

            &:hover{
            }
        }

        .indiv-left{
            background:#dceedc;
            margin-right:10px;

            &:hover{
                background:darken(#dceedc, 10%);
            }
        }

        .indiv-middle{
            background:#ffe7d5;
            margin-left:10px;

            &:hover{
                background:darken(#ffe7d5, 10%);
            }
        }

        .indiv-right{
            margin-left:10px;
        }
    }
}

.annonces{

    .annonces-container{
        padding:0px 20px 0px 20px;

        .item{
            overflow:hidden;

            .in{
                background-position: center;
                background-size:cover;
                width:100%;
                height:100%;
                transition:0.5s;
                position:relative;

                &:hover{
                    //transform:scale(1.1);
                }
            }

            .texte{
                position:absolute;
                height:100%;
                width:50%;
                display:flex;
                top:0;
                //background:rgba(255,255,255,0.5);

                @include breakpoint(medium down){
                    width:100%;
                }

                .inset{
                    margin:auto;
                    text-align:center;
                    padding:10px;
                    background:rgba(255,255,255,0.9);
                    width:400px;
                    height:400px;
                    padding:15px;

                    .inzzz{
                        border:1px solid rgba(0,0,0,0.2);
                        width:100%;
                        height:100%;
                        display:flex;

                        .zzz{
                            margin:auto;
                            padding:15px;

                            .toutpetit{
                                display:block;
                                text-transform: uppercase;
                                font-size:10px;
                                letter-spacing: 2px;
                                margin-bottom:10px;
                            }
                        }
                    }
                }
            }
        }

        .owl-dots{
            padding-top:10px;
            width:100%;
            text-align: center;

            .owl-dot{
                height:10px;
                width:10px;
                background:#BBB;
                display:inline-block;
                border-radius:50%;
                margin:0px 4px 0px 4px;
                transition:0.5s;

                &:hover{
                    background:#666;
                }
            }

            .active{
                background:#666;
            }
        }
    }
}

.collections{
    padding-top:50px;
    position:relative;
    background:#fafafa;
    padding-bottom:50px;

    .in-collections{
        position:relative;

        .left{
            height:400px;
            width:100%;
            background:url(../../images/visuel1.jpg);
            background-size:cover;
        }

        .right{
            height:400px;
            width:100%;
            background:url(../../images/visuel2.jpg);
            background-size:cover;
        }
    }

    .channel-style{
        position:absolute;
        top:100px;
        left:0;
        right:0;
        margin:auto;

        .channel-texte{
            height:300px;
            background:rgba(255,255,255,0.9);
            padding:15px;

            .in{
                border:1px solid rgba(0,0,0,0.3);
                height:100%;
                padding:10px;
                display:flex;

                .inz{
                    text-align:center;
                    margin:auto;
                }
            }
        }
    }
}

.excellence-band{
    background:url(../../images/parallax.jpg) center fixed no-repeat;
    background-size:cover;
    color:white;
    text-align:center;

    .fade{
        background:rgba(0,0,0,0);
        padding-top:100px;
        padding-bottom:100px;
        transition:0.5s;

        &:hover{
            background:rgba(0,0,0,0);
        }

        hr{
            background:white;
            width:100px;
        }

        .in{
            width:50%;
            margin:auto;
            padding-bottom:20px;
        }
    }
}

.intheblog{
    padding-top:50px;
    padding-bottom:50px;
    margin-bottom:-10px;

    .inzer{
        margin-bottom:50px;
        @include breakpoint(medium down) {

        }
    }

    article{

        .article-photo{
            background-size:cover;
            height:200px;
            width:100%;
            overflow:hidden;
            position:relative;

            .fadeyo{
                display: flex;
                flex-direction: column;
                width:100%;
                height:100%;
                background:rgba(0,0,0,0.8);
                position:absolute;
                bottom:-200px;
                transition:0.5s;
                color:white;

                div{
                    margin:auto;
                    text-align:center;
                    font-weight: bold;

                    i{
                        margin-top:10px;
                    }
                }
            }
        }

        .sampled{
            text-align:justify;
        }

        h1{
            margin-top:10px;
            font-size:22px;
            font-weight: normal;
            text-align: center;
        }
    }
}

.footer-infos{
    padding-top:50px;
    padding-bottom:50px;
    background:#282828;

    hr{
        background:#989898;
        margin-top:40px;
        margin-bottom:50px;

        @include breakpoint(medium down) {
            width:80%;
        }
    }

    .inzoo{

        li{
            display:inline-block;
            margin-left:20px;
            margin-right: 20px;

            @include breakpoint(small down){
                display:block;
            }

            a{
                color:white;
                font-weight:bold;
                //text-transform: uppercase;
                //border-bottom:2px solid white;
            }
        }
    }

    h4{
        color:white;
    }

    .payments{
        ul{
            li{
                display: inline-block;
                margin-left:3px;
                margin-right:3px;

                img{
                    border-radius: 3px;
                    width:40px;
                    height:auto;
                }
            }
        }

        @include breakpoint(small down) {
            margin-top:40px;
        }
    }
}

.video-bg{
    position:fixed;
    display:none;
    top:0;

    video {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
        background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
        background-size: cover;
        transition: 1s opacity;
    }
}

.intransparent{
    width:100%;
    background:transparent;
    position:relative;
    z-index:10;

    .hellohello{
        img{
            width:100%;
        }
    }
}

.intransparent-after{
    height:100%;
    width:100%;
    padding-top:100px;
    padding-bottom:100px;
    text-align: center;
    color:white;

    #ouww{
        width:50%;
        margin:auto;
        opacity:0.8;
        font-size:118px;
        font-family:'Montserrat';

        @include breakpoint(medium only) {
            width:75%;
            font-size:72px;
        }

        @include breakpoint(small down) {
            font-size:36px;
            width:90%;
        }
    }
}

.another{
    padding-top:50px;
    padding-bottom:50px;

    .theavis{
        text-align: justify;
        background:white;
        padding:10px;
        position:relative;

        @include breakpoint(medium down){
            margin-bottom:20px;
        }
    }

    .thename{
        background:white;
        font-family:"Oswald";
        text-transform: uppercase;
        font-size:16px;
        text-align: center;
        margin:auto;
        color:black;
        position:relative;
        padding-top:10px;
    }

    #jedonnemonavis{
        border:1px solid #CCC;
        padding: 50px 0px;

        @include breakpoint(medium down){
            border:0;
            padding:0px 0px;
        }
    }

    #avisclients{
        height:100px;
        border:0px solid #FAFAFA;
        background:#FAFAFA;
        box-shadow:0px 0px 0px;
    }

    .photo{
        position:relative;
        width:150px;
        height:150px;
        border-radius: 50%;
        overflow:hidden;
        margin:auto auto -30px auto;

        img{
            width:100%;
            height:auto;
        }
    }
}

.newsletter{
    background:#fafafa;
    padding-top:50px;
    padding-bottom:50px;

    input{
        display:inline-block;
    }

    .socialmedia{
        margin:auto;

        li{
            display: inline-block;
            margin-left:25px;
            margin-right:25px;

            @include breakpoint(small down){
                margin-left:10px;
                margin-right:10px;
            }

            a{

                i{
                    @include breakpoint(small down){
                        font-size:30px;
                    }

                    transition:1s;

                    &:hover{
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }

    #form-newsletter{
        display:flex;
        margin:auto;
        position:relative;

        #newsletter{
            background:transparent;
            border:0;
            border-bottom:2px solid #CCC;
            box-shadow:0px 0px 0px;
            color:#000;
        }

        #newsletter-submit{
            background:transparent;
            top:7px;
            font-weight:bold;
            //text-transform: uppercase;
            //letter-spacing: 2px;
            border:0;
            position:absolute;
            right:10px;

            &:hover{
                color:#666;
            }
        }
    }
}

.footer{
    background:#282828;
    height:400px;
}

.footer-tqt{
    color:white;
    padding-top:50px;
    padding-bottom:50px;
    background:#222222;
    text-align: center;
}

.container{

}
