.topset{
    display:flex;
}

.entry-title{
    font-family:"Oswald";
    font-weight:normal;
    text-transform: uppercase;
    margin:auto;
    position:relative;
    z-index:10;
    border-bottom:12px inset #d7eefa;
    padding-left:5px;
    padding-right:5px;
    height:60px;
    margin-bottom:20px;
}

.custom-thumbnail{
    position:relative;
    text-align: center;
    margin:-120px 0px 50px 0px;
    z-index:20;

    img{
        border:15px solid white;
        //box-shadow:0px -15px 15px rgba(0,0,0,0.3);
    }
}

#comment{
    border:1px solid #000;
    max-width:600px;
    margin:auto;
    box-shadow:0px 0px 0px;
}

.loginDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
    display:flex;

    &:target{
        opacity:1;
	    pointer-events: auto;
    }

    .inlogin{
        width: 400px;
        text-align: center;
    	position: relative;
        margin:auto;
        padding:20px;
    	background: #fff;
    	background: -moz-linear-gradient(#fff, #999);
    	background: -webkit-linear-gradient(#fff, #999);
    	background: -o-linear-gradient(#fff, #999);
        display:flex;

        .texte{
            margin:auto;
            position:relative;
            width:100%;
        }
    }
}

.close {
	position: absolute;
	right: -15px;
	text-align: center;
	top: -15px;
    color:red;
	width: 24px;
	font-weight: bold;

    &:hover{
    }
}

.lepanier{
    width:250px;
    height:300px;
    background:white;
    position:absolute;
    z-index:900;
    top:50px;
    right:-250px;
    opacity:0;
    transition:0.5s;
}

.shopping{
    background:white;
    position:relative;
    z-index:10;

    h1{
        font-family:"Oswald";
        font-weight:normal;
        text-transform: uppercase;
        margin:auto;
        position:relative;
        z-index:10;
        border-bottom:12px inset #d7eefa;
        padding-left:5px;
        padding-right:5px;
        height:60px;
        margin-bottom:20px;
    }

    .product{
        overflow:hidden;
        text-align: center;

        img{
            transition:0.5s;
        }
    }

    .add_to_cart_button{
        margin:0px 0px 0px -300px;
        transition:0.5s;
    }
}
