body{overflow-x:hidden;}

.site-header{
    display:none;
}

.appear{
    opacity:0;
}

.custom-button{
    @extend .button;
    background:transparent;
    letter-spacing:1px;
    transition:0.5s;
    font-family: "Montserrat";
    text-transform: uppercase;
    border:2px solid black;
    color:black;
    padding-left:50px;
    padding-right:50px;

    &:hover{
        background:black;
    }
}

.custom-button-reverse-white{
    @extend .button;
    background:transparent;
    letter-spacing:1px;
    transition:0.5s;
    //font-weight:bold;
    font-family: "Montserrat";
    text-transform: uppercase;
    border:2px solid black;
    color:black;
    padding-left:50px;
    padding-right:50px;

    &:hover{
        background:black;
    }
}

.custom-button-reverse{
    @extend .button;
    letter-spacing:1px;
    background:transparent;
    transition:0.5s;
    //font-weight:bold;
    font-family: "Montserrat";
    text-transform: uppercase;
    border:2px solid black;
    color:black;
    padding-left:50px;
    padding-right:50px;

    &:hover{
        background:black;
    }
}

.header-containz{
    padding-top:10px;
    //background:lighten(black, 20%);
}

.custom-header{
    width:100%;
    position:relative;

    .infos{
        z-index:15;
        width:100%;
        position:relative;
        text-transform:uppercase;
        padding-top:5px;

        @include breakpoint(small down) {
            display:none;
        }

        .left-infos{
            @include breakpoint(medium down) {
                display:none;
            }
        }

        .right-infos{
            position:absolute;
            right:0;
        }

        ul{
            display:inline-block;

            li{
                display:inline-block;
                margin-right:30px;

                i{
                    margin-right:10px;
                }

                a{
                    color:#000;
                    transition:0.2s;

                    &:hover{
                        color:$gold;
                    }
                }
            }
        }
    }

    .searchbar{
        margin:20px auto 0px auto;
        max-width:600px;
        display:none;
        /*position:absolute;
        display:none;
        top:0;
        left:0;
        right:0;
        bottom:0;*/

        @include breakpoint(850px down){
            max-width:95%;
        }

        .probox{
            background-color:transparent !important;
            border:0px !important;
            box-shadow:0px 0px 0px !important;

            input{
            }
        }
    }

    .navigation-header{
        z-index:9999;
        width:100%;
        position:relative;
        text-transform: uppercase;

        .navigation-container{
            position:relative;

            .in-navigation{
                padding-top:20px;
                background:rgba(255,255,255,0.5);
                box-shadow:0px 0px 15px rgba(0,0,0,0.1);
                text-align: center;
                padding-bottom:20px;
                position:relative;

                @include breakpoint(medium down) {
                    display:none;
                }

                ul{
                    margin:0;padding:0;

                    .active{
                        background-color:transparent;

                        a{
                            background:transparent;
                            color:black;
                            font-weight:bold;
                        }
                    }

                    li{
                        font-size:14px;
                        letter-spacing: 1px;
                        display: inline-block;
                        margin-right:20px;
                        margin-left:20px;

                        a{
                            transition:0.5s;
                            color:darken(#b0b0b0, 15%);

                            &:hover{
                                color:#000;
                            }
                        }
                    }
                }
            }
        }
    }

    .burgermenu{
        width:50px;
        height:50px;
        background:white;
        //box-shadow:0px 0px 5px rgba(0,0,0,0.2);
        text-align:center;
        position:absolute;
        z-index:50;
        top:15px;
        left:15px;
        border-radius:50%;
        display:flex;

        a{
            margin:auto;
            transition:0.2s;
            //color:#CCC;

            &:hover{
                color:#CCC;
            }
        }

        @include breakpoint(large up) {
            display:none;
        }
    }

    #title-header{
        position:relative;
        z-index:10;
        margin-bottom:40px;
        text-align: center;

        @include breakpoint(medium only) {
            padding-top:50px;
            padding-bottom:20px;
        }

        @include breakpoint(small down) {
            padding-top:70px;
            padding-bottom:20px;
        }

        .in-title{
            font-size:30px;
            font-family:"Merriweather";
        }

        .subtitle{
            display:block;
            font-size:11px;
            font-family:"Raleway";
            letter-spacing: 3px;
            text-transform: uppercase;
        }
    }

    .wrapper{
        //height:350px;

        .header-image-container{
            height:100%;
            z-index:10;
            position:relative;
            width:100%;

            .in{
                height:100%;
                width:100%;
                background-image:url(../../images/walpp.jpg);
                background-attachment: fixed;
                position:relative;
                text-align:center;
                position:relative;
                background-size:cover;

                .zzzer{
                    height:100%;
                    width:100%;
                    background:rgba(0,0,0,0.6);
                    position:relative;

                    .in-head{
                        display:flex;
                        width:100%;
                        height:100%;
                        padding-top:60px;
                        padding-bottom:60px;

                        .flex{
                            margin:auto;
                            width:1200px;

                            .sloganz{
                                margin:auto;
                                letter-spacing: 2px;
                                //text-transform: uppercase;
                                font-weight:normal;
                                text-shadow:0px 0px 10px rgba(0,0,0,0.5);
                                color:white;
                                font-size:64px;
                                font-family:"Montserrat";
                                text-transform: uppercase;
                            }

                            .citation{
                                text-align:center;
                                color:white;
                                max-width:400px;
                                margin:auto;
                                font-size:20px;
                                padding-bottom:50px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.reassurance{
    color:#989898;

    .theimage{
        text-align:center;

        span{
            display:block;
            margin-top:10px;
            font-size:12px;
            text-transform: uppercase;
            // font-family: "Montserrat"

            @include breakpoint(small down){
                margin-bottom:20px;
            }
        }

        img{
            width:40px;
            height:auto;
            margin-bottom:5px;
        }
    }
}
