.title_news{
    background:url(../../images/walpp.jpg) center;
    background-attachment:fixed;
    background-size:cover;
    position:relative;
    z-index:10;
    text-transform:uppercase;

    .fade{
        background:rgba(0,0,0,0.5);
        width:100%;height:100%;
        color:white;
        padding-top:50px;
        padding-bottom:50px;
        text-align: center;
    }
}

.promoz{
    width:100%;

    .custom{
        background:#262626;
        margin-top:50px;
        margin-bottom:0;
        color:white;
        padding-top:50px;
        padding-bottom:50px;

        .losange{
            width:50px;
            height:50px;
            background:#262626;
            transform: rotate(45deg);
            position:absolute;
            margin:auto;
            z-index:20;
            bottom:-25px;
            left:0;
            right:0;
        }
    }

    .promozions{

        .item{
            .promoz-slide{
                height:300px;
                background-size:cover;
                background-position:center;
                color:black;
                display:flex;
                text-align:center;
                padding:20px;
                .inze{
                    margin:auto;
                    background:rgba(255,255,255,0.8);
                    padding:50px;

                    .titleze{
                        text-transform: uppercase;
                        font-weight:bold;
                        font-size:18px;
                    }
                }
            }
        }
    }

    .owl-dots{
        text-align:center;
        bottom:10px;
        left:0;
        right:0;
        margin:auto;
        position:absolute;
        z-index:20;

        .owl-dot{
            width:10px;
            height:10px;
            background:gray;
            display:inline-block;
            border-radius: 50%;
            margin-left:5px;
            margin-right:5px;
            transition:0.5s;

            &:hover{
                background:black;
            }
        }

        .active{
            background:black;
        }
    }
}

.pagenews{
    background:white;
    width:100%;
    position:relative;
    z-index:20;

    .listingproduit{
        margin-top:50px;
        margin-bottom:30px;
    }

    .product-link{
        display:block;
        overflow:hidden;
        border:1px solid lighten(#CCC, 10%);
        padding-top:20px;
        padding-bottom:20px;
        text-align: center;
        margin-bottom:20px;

        #left-disappear{
            opacity:0;
            margin-left:-250px;
            transition:0.5s;
            border-bottom:4px solid #d7eefa;
        }
    }

    .image-product{
        img{
            transition:0.5s;
        }
    }

    .article-subtitle{
        display:block;
        font-family: "Oswald";
        text-transform: uppercase;
        margin-top:10px;
    }

    .article-title{
        display:block;
        font-size:24px;
        color:#828080;
        text-transform: uppercase;
        margin-bottom:10px;
    }
}
