.title_news{
    background:url(../../images/walpp.jpg) fixed center;
    background-size:cover;

    .fade{
        background:rgba(0,0,0,0.5);
        width:100%;height:100%;
        color:white;
        padding-top:50px;
        padding-bottom:50px;
        text-align: center;
    }
}

.pagenews{
    background:white;
    width:100%;
    position:relative;
    z-index:20;

    .product-link{
        display:block;
        overflow:hidden;
        border:1px solid lighten(#CCC, 10%);
        padding-top:20px;
        padding-bottom:20px;
        text-align: center;

        #left-disappear{
            opacity:0;
            margin-left:-250px;
            transition:0.5s;
            border-bottom:4px solid #d7eefa;
        }
    }

    .image-product{
        img{
            transition:2s;
        }
    }

    .article-subtitle{
        display:block;
        font-family: "Merriweather";
        margin-top:10px;
    }

    .article-title{
        display:block;
        font-size:24px;
        color:#828080;
        text-transform: uppercase;
        margin-bottom:10px;
    }
}
